atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
iniconfig==1.1.1
numpy==1.19.5
packaging==20.8
pandas==1.2.0
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.2.1
python-dateutil==2.8.1
pythonnet==2.5.1
pytz==2020.5
six==1.15.0
toml==0.10.2
